.about {
  padding: 25px 0;
}
.about .left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .left-side img {
  width: 100%;
}
.about .cards .card {
  display: flex;
  gap: 16px;
  transition: all 0.3s ease-in-out;
  flex-direction: row;
  align-items: center;
  padding: 15px 10px;
  margin: 20px 0;
  background-color: #ffffff;
  box-shadow: 0 0px 5px rgb(0 0 0 / 10%);
  border: none;
  border-radius: 0.7rem;
  z-index: 9;
}
.about .cards .card:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: rgb(0 0 0 / 20%) 0 0px 8px;
}
.about .cards .icon {
  display: flex;
  background: #dc2626;
  box-shadow: 0 0px 10px rgb(229 62 62 / 40%), inset -20px 0px 5px #bb2020, inset 10px 10px 15px #fd2c2c;
  padding: 5px 10px;
  color: #fff;
  border-radius: 0.35rem;
}
@media (max-width: 767px) {
  .about .left-side {
    display: none;
  }
}
